body {background-image: url("../images/background.jpg");
	background-size:cover;}


.title img {
	width:50px;
}

.logo-text {
	border:3px solid black;
	padding:8px 10px;
	margin-left:20px;
	font-family:mr-eaves-xl-modern, sans-serif;
}

.header {
	padding:20px;
}

.title {
	font-size: 50px;
	border-style:solid;
}

.nav-title {
	font-family: mr-eaves-xl-modern, sans-serif;
	font-size:20pt;
}

.left-menu {
	padding-top: 20px;
	padding-left:20px;
	font-family:mr-eaves-xl-modern, sans-serif;
}

.dropbtn {
  color: black;
  background-color:transparent;
  font-size: 16px;
  border: none;
}

.dropdown-menu:hover {
	color:red;
}

a { text-decoration: none;
	padding-left:30px;
	font-size:20px;
	color:black;
}

a:hover {
	color:red;
}

.main-bottom {
	border:1px solid black;
	display:grid;
	grid-template-columns:20% 40% 40%;
}

.name {
	text-align:center;
}

.big-leaf-maple {
	width:550px;
}

.tl-leaf-image { 
			align-items:center;
			padding-left:10px;
}

.black-cottonwood {
	width:505px;
}

.tr-leaf-image {
	align-items:center;
	padding-left:30px;
}

.red-alder-image {
	width:400px;
	padding-left:85px;
}

.vine-maple {
	width:560px;
}









