body {background-image: url("../images/background.jpg");
	background-size:cover;}

.logo {img src=url("../images/logo.png");}

.header {
	padding:20px;
}

.title {
	border:3px;
	border-color: black;
	
	font-size: 50px;
	border-style:solid;
}

.dropbtn {
  color: black;
  background-color:transparent;
  font-size: 16px;
  border: none;
}

.tree-button {
	background-color: transparent;
	border-color:transparent;
	font-size: 21px;
}

.dropdown-menu:hover {
	color:red;
}

a {
	text-decoration: none;
	padding-left:30px;
	font-size:20px;
	color:black;
}

a:hover {
	color:red;
	padding-left:40px;
}






